<md-list class="chatList">
    <md-list-item class="chatList--item" *ngFor="let chat of chatList" (click)="openChat(chat)" [ngClass]="{'chatList--item-active': chat.active}">
        <img md-list-avatar src="{{chat.imageUrl}}" alt="...">
        <h3 md-line> {{chat.chatName}} </h3>
        <p md-line>
            <span> {{chat.lastMessageAuthorName}} </span>
            <span class="demo-2"> -- {{chat.lastMessage}} </span>
        </p>
    </md-list-item>
    <md-icon (click)="openDialog()" class="chatList--addIcon">add circle</md-icon>
</md-list>

<section class="chatMain">
    <md-list>
        <md-card *ngFor="let item of messageList" class="chatMain--card example-card" [ngClass]="{'chatMain--card-own': item.own}">
            <md-card-header>

                <img md-card-avatar [attr.src]='item.authorPhotoUrl' class="chatMain--cardUser"/>
                <md-card-title>{{item.authorName}}</md-card-title>
                <md-card-subtitle>{{item.sendTime}}</md-card-subtitle>
            </md-card-header>
            <img *ngFor="let att of item.attachments" md-card-image [attr.src]='att.url'/>
            <md-card-content>
                <p>
                    {{item.text}}
                </p>
            </md-card-content>
            <md-card-actions>
                <md-icon (click)="checkLike(item)" [ngClass]="{'chatMain--disabled chatMain--likeIcon-selected': item.isLike}" class="chatMain--likeIcon">favorite</md-icon><span *ngIf="item.isLike" class="chatMain--likes">{{item.likes}}</span>
            </md-card-actions>
        </md-card>
    </md-list>
</section>