.chatMessageCreator {
  height: 150px;
  position: fixed;
  z-index: 1;
  background: white;
  width: 100%;
  bottom: 0;

  &--textarea {
    width: calc(100% - 30vw);
    height: 150px;
    border-color: #dedede;
  }

  &--sendIcon {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}