<section *ngIf="messageList" class="chatMain">
  <md-list>
   <md-card *ngFor="let item of messageList" class="chatMain--card example-card">
    <md-card-header>

     <!--<div md-card-avatar src="{{item.authorPhotoUrl}}" class="example-header-image"></div>-->
     <md-card-title>{{item.authorName}}</md-card-title>
     <md-card-subtitle>{{item.sendTime}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://cdn3-www.cattime.com/assets/uploads/2011/08/best-kitten-names-1.jpg">
    <md-card-content>
     <p>
      {{item.text}}
     </p>
    </md-card-content>
    <md-card-actions>
     <md-icon class="chatMain--likeIcon">favorite</md-icon><span>{{item.likes}}</span>
    </md-card-actions>
   </md-card>
  </md-list>
</section>